<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="procter.visinet.distribution" version="6.0">
<!--DETAILS-->
	<name>Visinet 6.1</name>
	<description>Visinet Distribution</description>
	<author href="http://www.procter.nz" email="geoff.procter@gmail.com">Geoff Procter</author>

<!--PLATFORMS & PLUGINS-->
	<gap:platform name="ios"/>
	<gap:platform name="android"/>
    <plugin name="cordova-plugin-dialogs"/>
    <plugin name="cordova-plugin-powermanagement"/>
    <plugin name="cordova-plugin-statusbar"/>
    <plugin name="cordova-plugin-whitelist"/>
        
<!--SETTINGS-->
    <preference name="permissions" value="none"/>
	<preference name="fullscreen" value="true"/>
	<preference name="webviewbounce" value="false"/>
	<preference name="stay-in-webview" value="true"/><!--stops iframe redirecting to new page-->
	<access origin="*" subdomains="true"/>
    <allow-navigation href="*" />

<!--SPLASH SCREEN-->
    <splash src="splash/ios/Default.png" width="320" height="480"/>
    <splash src="splash/ios/Default@2x.png" width="640" height="960"/>
    <splash src="splash/ios/Default-Portrait.png" width="768" height="1024"/>
    <splash src="splash/ios/Default-Portrait@2x.png" width="1536" height="2048"/>
    <splash src="splash/ios/Default-568h@2x.png" width="640" height="1136"/>
    
<!--ICONS-->	
	<icon src="icons/icon.png" gap:role="default"/>
	<icon src="icons/ios/icon-small.png" gap:platform="ios" width="29" height="29"/>
	<icon src="icons/ios/icon-40.png" gap:platform="ios" width="40" height="40"/>
	<icon src="icons/ios/icon-50.png" gap:platform="ios" width="50" height="50"/>
	<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57"/>
	<icon src="icons/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58"/>
	<icon src="icons/ios/icon-60.png" gap:platform="ios" width="60" height="60"/>
	<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72"/>
	<icon src="icons/ios/icon-76.png" gap:platform="ios" width="76" height="76"/>
	<icon src="icons/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80"/>
	<icon src="icons/ios/icon-50@2x.png" gap:platform="ios" width="100" height="100"/>
	<icon src="icons/ios/icon@2x.png" gap:platform="ios" width="114" height="114"/>
	<icon src="icons/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120"/>
	<icon src="icons/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144"/>
	<icon src="icons/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152"/>
	<icon src="icons/android/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="icons/android/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="icons/android/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="icons/android/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="icons/android/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
</widget>